#home{
    background-color: #586994;
}
h1{
    color: white;
    font-family: 'Gloria Hallelujah', arial, 'Times New Roman', Times, serif;
    font-size: 50px;
}
.button{
    padding:10px;

}
@media only screen and (max-width: 799px) {
    .button {
       display:grid;
       flex-wrap: wrap;
    }
}
.button1{
    background-color:#ABC798;
    border-radius: 12px;
    font-family: 'Gloria Hallelujah', arial, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:white;
    
}
.button2{
    background-color: #EDAF97;
    border-radius: 12px;
    font-family: 'Gloria Hallelujah', arial, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:white;
}
.button3{
    background-color:#84D2F6;
    border-radius: 12px;
    font-family: 'Gloria Hallelujah', arial, 'Times New Roman', Times, serif;
    font-size: 30px;
    color:white;
}

.buttonBack{    
    background-color: #586994;
    border-radius: 12px;
    font-family: 'Gloria Hallelujah', arial, 'Times New Roman', Times, serif;
    font-size: 40px;
    color:white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    max-height: 90px;
}


.aboutus{
    background-color:#ABC798;
}

.whatweoffer{
    background-color: #EDAF97;
}

.contactus{
    background-color: #84D2F6;
}

.container{
    padding: 10px;
}
.contactContainer{
    width:500px;
    padding:20px;
}
  
